nav, footer {
    display: block;
}

nav ul li, footer ul li {
    display: inline-block;
}

nav ul li a, footer ul li a {
    text-decoration: none;
    font: 13px Arial, sans-serif;
}

nav ul li a {
    color: #000;
    opacity: 0.75;
}

footer ul li a {
    color: #666;
}

#sign-in {
    color: #fff;
    background: #005dff;
    border-radius: 2px;
    font-weight: bold;
    padding: 6px 12px;
    border: 1px solid #005dff;
}
